<!-- Child Component -->

<h4>Child Component</h4>
<p>Counter Value: @CounterValue</p>
@*<p>Checkbox Value: @CheckBoxValue</p>*@
@code {

    [Parameter]
    public int CounterValue { get; set; }

    //[Parameter]
    //public bool CheckBoxValue { get; set; }
}
